<!Doctype>
<html ng-app='Testing'>
<head>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/styles.css">
<script src="js/controllers.js"></script>
<script src="js/service.js"></script>
</head>
<body>

<div ng-controller="gridController" class="row" style="margin:0 auto;">
<div class="col-md-8">
<div class="row">

        <div class="col-md-2">Change List</div>
        <div class="col-md-2">Owner</div>
        <div class="col-md-2">Time Started</div>
		<div class="col-md-1">build</div>
        <div class="col-md-2">Fucntional Test</div>
        <div class="col-md-1">Metrics</div>
		 <div class="col-md-1">State</div>
        <div class="col-md-1">Unit Test</div>
      </div>
      
      <div class="row clickable" ng-repeat="row in gridData">
        <div class="col-md-2">{{row.Changelist}}</div>
        <div class="col-md-2">{{row.Owner}}</div>
        <div class="col-md-2">{{row.Time_started}}</div>
		<div class="col-md-1">{{row.build}}</div>
        <div class="col-md-2 ">{{row.functional_test}}</div>
        <div class="col-md-1">{{row.metrics}}</div>
		 <div class="col-md-1">{{row.state}}</div>
        <div class="col-md-1">{{row.unit_test}}</div>
        <br/>
        <div class="expandable-section"></div>
        </div>
      
</div>
<div class="col-md-4">
  <accordion close-others="oneAtATime">
    <accordion-group heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
      This content is straight in the template.
    </accordion-group>
    <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
      {{group.content}}
    </accordion-group>
    <accordion-group heading="Dynamic Body Content">
      <p>The body of the accordion group grows to fit the contents</p>
        <button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
        <div ng-repeat="item in items">{{item}}</div>
    </accordion-group>
    <accordion-group is-open="status.open">
        <accordion-heading>
            I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
        This is just some content to illustrate fancy headings.
    </accordion-group>
  </accordion>
</div>
</div>
</body>
</html>